############################
# xdg-ninja specifications #
############################
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_STATE_HOME="$HOME/.local/state"
export XDG_CACHE_HOME="$HOME/.cache"

# Set BAT as the manpager
which bat >> /dev/null && export MANROFFOPT="-c" && export MANPAGER="sh -c 'col -bx | bat -l man -p'"

# $HOME/.bash_history
export HISTFILE="${XDG_STATE_HOME}/bash/history"

# $HOME/.nv
export CUDA_CACHE_PATH="$XDG_CACHE_HOME/nv"

# $HOME/.gnupg
export GNUPGHOME="$XDG_DATA_HOME/gnupg"

# $HOME/.gtkrc-2.0
export GTK2_RC_FILES="$XDG_CONFIG_HOME/gtk-2.0/gtkrc"

# $HOME/.icons
# If there are cursor themes installed in _${XDG_DATA_HOME}/icons_, it may be necessary to add the path to XCURSOR_PATH.
export XCURSOR_PATH=/usr/share/icons:${XDG_DATA_HOME}/icons

# $HOME/.lesshst
export LESSHISTFILE="$XDG_CACHE_HOME/less/history"

# $HOME/.python_history
export PYTHONSTARTUP="${XDG_CONFIG_HOME}/python/pythonrc"

# $HOME/.texlive/texmf-var
export TEXMFVAR="$XDG_CACHE_HOME/texlive/texmf-var"

# # $HOME/.Xauthority
# export XAUTHORITY="$XDG_RUNTIME_DIR/Xauthority"

# $HOME/.histfile
export HISTFILE="$XDG_STATE_HOME/zsh/history"

# $HOME/.zshrc
# this line is added in /etc/zsh/zshenv
# export ZDOTDIR="$HOME"/.config/zsh

export PATH="$HOME/.local/bin:$PATH"
export NOTES_DIR="$HOME/doc/notes"
export EDITOR=nvim

export QT_QPA_PLATFORMTHEME=qt5ct:qt6ct
