configuration {
  modi:  "window,combi,run";
  show-icons: true;
  font: "source code pro medium 13";
  sidebar-mode: true;
  combi-modi: "drun,AppImages:~/.config/my_scripts/rofi_appimage.sh";
  combi-hide-mode-prefix: true;
  combi {
    display-name: "Applications";
  }
}
@theme "/home/keshav/.config/rofi/themes/oxide.rasi"
